{{#each this}}
<li>
    <h2>{{name}}</h2>
    <div class="cont-list">
        <div class="capital">
            <p>Capital:{{capital}}</p>
            <p>Population:{{population}}</p>
            <ul>
                <p>Languages:</p>
                {{#each languages}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>

        <img src="{{flag}}" width=200px />
    </div>
</li>
{{/each}}